* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,#root{
  height: 100%;
  width: 100%;
  background-color:rgb(54, 51, 51);
}
main{
  position: relative;
}
/* canvas{
} */
section{
  min-height: 100vh;
  width: 100%;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}