@import "tailwindcss";
main{
  position: relative;
}
/* canvas{
} */
 html{
  overflow-x: hidden;
 }
section{

  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  border: 1px solid white;
  position: relative;
  z-index: 2;
}